alembic==1.13.2
bcrypt==4.2.0
blinker
click
contourpy==1.2.1
cycler==0.12.1
et-xmlfile==1.1.0
Flask
Flask-Mail==0.10.0
Flask-Migrate==4.0.7
flask-paginate==2024.4.12
Flask-SQLAlchemy==3.1.1
fonttools==4.53.0
gunicorn==22.0.0
importlib-metadata
importlib_resources==6.4.0
itsdangerous
Jinja2
kiwisolver==1.4.5
Mako==1.3.5
MarkupSafe
matplotlib==3.9.0
numpy==2.0.0
opencv-python==4.10.0.84
openpyxl==3.1.4
packaging==24.1
pandas==2.2.2
pillow==10.3.0
PyMySQL==1.1.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
pyzbar
six==1.16.0
SQLAlchemy==2.0.31
typing_extensions==4.12.2
tzdata==2024.1
waitress==3.0.0
Werkzeug
zipp
