/* 모든 요소에 기본 스타일 초기화 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    font-family: 'Noto Sans KR', Arial, sans-serif; /* 버튼 폰트 지정 */
}

.login-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 360px;
    text-align: center;
}

.login-container img {
    width: 100px;
    margin-bottom: 20px;
}

.admin-button-normal {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.admin-button-normal:hover {
    background-color: #2980b9;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', Arial, sans-serif; /* 폰트 지정 */
}
