/* Reset some default browser styles */
body, h1, h2, ul, li, input, button, form, div, select, table, th, td {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Overall page styling */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* 약간 어두운 흰색 */
}

/* Header styling */
header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

header img {
    width: 100px;
    height: auto;
}

header h1 {
    margin-top: 10px;
    font-size: 20px; /* 글씨 크기 조정 */
    color: #333;
    white-space: nowrap; /* 텍스트가 잘리지 않도록 */
}

/* Content container styling */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 100%;
    max-width: 500px;
    background: #fff;
    padding: 40px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 16px; /* 모서리 라운딩 */
    text-align: center;
    position: relative;
    transition: background-color 0.3s; /* 애니메이션 추가 */
}

/* Tabs styling */
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    transition: color 0.3s, border-bottom 0.3s;
    position: relative;
    color: #ccc;
}

.tab.on {
    color: inherit;
}

.tab.green.on {
    color: #8BC34A; /* 밝은 연두색 */
}

.tab.red.on {
    color: #E74C3C; /* 빨간색 */
}

.tab.blue.on {
    color: #007bff; /* 파란색 */
}

.tab::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s;
}

.tab.on::after {
    width: 100%;
}

.tab-divider {
    width: 1px;
    background-color: #ccc;
    height: 16px;
    margin: auto 10px;
}

.check_text {
    font-size: 14px;
}

/* Form styling */
.login_form, .register_form {
    margin-bottom: 20px;
}

.id_input, .password_input, .input_field, .input_select {
    margin-bottom: 15px;
}

.input-box {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
}

.input-box input,
.input-box select {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    color: #333;
    font-size: 16px;
    appearance: none; /* Remove default arrow in select */
}

.input-box input::-webkit-calendar-picker-indicator {
    display: none; /* Remove calendar icon from datetime-local input */
}

.input-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #aaa;
    font-size: 16px;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label,
.input-box select:focus ~ label,
.input-box select:valid ~ label {
    top: -20px;
    left: 0;
    color: #007bff;
    font-size: 12px;
}

.green .input-box input:focus ~ label,
.green .input-box input:valid ~ label,
.green .input-box select:focus ~ label,
.green .input-box select:valid ~ label {
    color: #8BC34A; /* 밝은 연두색 */
}

.red .input-box input:focus ~ label,
.red .input-box input:valid ~ label,
.red .input-box select:focus ~ label,
.red .input-box select:valid ~ label {
    color: #E74C3C; /* 빨간색 */
}

.button_normal {
    width: 100%;
    padding: 15px; /* 버튼 크기 확대 */
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 25px; /* 모서리 라운딩 */
    cursor: pointer;
    transition: background-color 0.3s; /* 애니메이션 추가 */
    background-size: 200% 100%; /* 배경 크기 설정 */
    background-image: linear-gradient(to right, #007bff 50%, #0056b3 50%);
    background-position: 0% 0%;
}

.button_normal:hover {
    background-position: 100% 0%;
}

.green .button_normal {
    background-color: #8BC34A; /* 밝은 연두색 */
    background-image: linear-gradient(to right, #8BC34A 50%, #6b8e23 50%);
}

.green .button_normal:hover {
    background-position: 100% 0%;
}

.red .button_normal {
    background-color: #E74C3C; /* 빨간색 */
    background-image: linear-gradient(to right, #E74C3C 50%, #C0392B 50%);
}

.red .button_normal:hover {
    background-position: 100% 0%;
}

.signup-link {
    margin-top: 20px;
}

.signup-link p {
    color: #000000;
    cursor: pointer;
    transition: color 0.5s;
}

.signup-link p:hover {
    color: #007bff;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px 10px; /* 간격 충분히 늘림 */
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #8BC34A;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

.outing-status.approved {
    color: #28a745; /* 초록색 */
}

.outing-status.pending {
    color: #ffc107; /* 주황색 */
}

.outing-status.rejected {
    color: #E83323; /* 빨간색 */
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal_content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
