<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='songseol.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap">
    <script src="/static/js/blockDevTools.js"></script>
    <title>김천고등학교 외출 신청 - 비밀번호 변경</title>
</head>
<body>
<div class="find-id-container">
    <img src="{{ url_for('static', filename='gimgologo.png') }}" alt="로고">
    <button id="student-find-button-normal" type="button">학생 비밀번호 변경</button>
    <button id="teacher-find-button-normal" type="button">교사 비밀번호 변경</button>
</div>
<script>
    document.getElementById('student-find-button-normal').addEventListener('click', function() {
        window.location.href = "{{ url_for('auth.student_change_pw') }}";
    });

    document.getElementById('teacher-find-button-normal').addEventListener('click', function() {
        window.location.href = "{{ url_for('auth.teacher_change_pw') }}";
    });
</script>
</body>
</html>
