<<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='songseol.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap">
    <title>김천고등학교 외출 신청 - 로그인</title>
</head>
<body>
<div class="login-container">
    <img src="{{ url_for('static', filename='gimgologo.png') }}" alt="김천고등학교 로고">
    <div class="tabs">
        <div id="student-tab" data-role="student" class="active">학생 로그인</div>
        <div id="teacher-tab" data-role="teacher">교사 로그인</div>
    </div>

    <form id="student-form" class="login-form active" method="post" action="{{ url_for('auth.login') }}">
        <input type="hidden" name="role" value="student">
        <input type="text" name="username" placeholder="아이디를 입력해주세요" required autocomplete="username">
        <input type="password" name='password' placeholder="비밀번호를 입력해주세요" required autocomplete="current-password">
        <button class="student-button-normal" type="submit">로그인</button>
    </form>

    <form id="teacher-form" class="login-form" method="post" action="{{ url_for('auth.login') }}">
        <input type="hidden" name="role" value="teacher">
        <input type="text" name="username" placeholder="아이디를 입력해주세요" required autocomplete="username">
        <input type="password" name='password' placeholder="비밀번호를 입력해주세요" required autocomplete="current-password">
        <button class="teacher-button-normal" type="submit">로그인</button>
    </form>

    <div class="links">
        <a href="{{ url_for('auth.find_id') }}">아이디 찾기</a>
        <a href="{{ url_for('auth.find_pw') }}">비밀번호 찾기</a>
        <a href="{{ url_for('auth.register') }}">회원가입</a>
    </div>
</div>

<script>
    const studentTab = document.getElementById('student-tab');
    const teacherTab = document.getElementById('teacher-tab');
    const studentForm = document.getElementById('student-form');
    const teacherForm = document.getElementById('teacher-form');

    studentTab.addEventListener('click', () => {
        studentTab.classList.add('active');
        teacherTab.classList.remove('active');
        studentForm.classList.add('active');
        teacherForm.classList.remove('active');

        studentTab.style.color = '#007BFF';
        teacherTab.style.color = '#8C8C8C';
    });

    teacherTab.addEventListener('click', () => {
        teacherTab.classList.add('active');
        studentTab.classList.remove('active');
        teacherForm.classList.add('active');
        studentForm.classList.remove('active');

        teacherTab.style.color = '#8BC34A';
        studentTab.style.color = '#8C8C8C';
    });
</script>
</body>
</html>
