<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 정보 관리 - 김천고등학교 외출 관리 시스템</title>
    <link rel="icon" href="{{ url_for('static', filename='songseol.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="login-container">
    <div class="login-box">
        <header>
            <h1>내 정보 관리</h1>
        </header>
        <div id="user-info">
            <p><strong>이름:</strong> {{ user['name'] }}</p>
            <p><strong>학년:</strong> {{ user['grade'] }}학년</p>
            <p><strong>반:</strong> {{ user['student_class'] }}반</p>
            <p><strong>번호:</strong> {{ user['number'] }}</p>
            {% if user.get('barcode') %}
            <p><strong>바코드:</strong> {{ user['barcode'] }}</p>
            {% endif %}
            <p><strong>아이디:</strong> {{ user['username'] }}</p>
            <div id="account-management">
                <a href="{{ url_for('views.change_username') }}" class="button_normal">아이디 변경</a>
                <a href="{{ url_for('views.change_password') }}" class="button_normal">비밀번호 변경</a>
            </div>
        </div>
        <div class="back-container">
            <a href="{{ url_for('views.student_home') if session['role'] == 'student' else url_for('views.teacher_manage') }}">돌아가기</a>
        </div>
    </div>
</div>
</body>
</html>
