<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='songseol.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap">
    <title>김천고등학교 외출 신청 - 비밀번호 변경</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="password-change-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <h1>비밀번호 변경</h1>
        <hr class="password-change-line">
        <form class="login_form" method="post" action="{{ url_for('auth.teacher_reset_password_form') }}">
            <input type="hidden" name="username" value="{{ username }}">
            <div class="input-box">
                <input class="input_normal" type="password" name="new_password" autocomplete="new-password" required>
                <label>새 비밀번호를 입력하세요</label>
            </div>
            <div class="input-box">
                <input class="input_normal" type="password" name="confirm_password" autocomplete="new-password" required>
                <label>비밀번호를 다시 입력하세요</label>
            </div>
            <div class="password-change-button-container">
                <button type="button" class="password-change-cancel-button">취소</button>
                <button type="submit" class="teacher-password-change-next-button">다음</button>
            </div>
        </form>
    </div>
</body>
</html>
