<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='songseol.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap">
    <title>김천고등학교 외출 신청 - 인증번호 입력</title>
</head>
<body>
    <div class="verification-container">
        <h1>인증번호 입력</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <hr>
        <form method="post" action="{{ url_for('auth.verify_code', action=action) }}">
            <div class="inputs">
                <input type="text" name="verification_code" maxlength="6" placeholder="인증번호 6자리를 입력해주세요." required>
                <!-- Hidden field to pass the action parameter -->
                <input type="hidden" name="action" value="{{ action }}">
            </div>
            <button type="button" class="resend-button">인증번호 재발송</button>
            <div class="verification-button-container">
                <button type="button" class="verification-cancel-button">취소</button>
                <button type="submit" class="teacher-verification-next-button">다음</button>
            </div>
        </form>
    </div>
</body>
</html>
